<!DOCTYPE html>
<html>
<head>
  <title>Playground</title>
  <%= javascript_include_tag 'graphiql.bundle', async: true %>
  <style>
      html, body {
          height: 100%;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
